@font-face {
    font-family: 'santio';
    src: url(../fonts/SANTIO/OTP/Santio\ regular.otf);
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'mr';
    src: url(../fonts/Mr_Dafoe/MrDafoe-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.big {
    background: url(../img/cleo-topper.jpg) center/cover no-repeat;
    background-attachment: fixed;
    height: 600vh;
}

img {
    width: 24px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px 64px;
}

header a {
    margin-left: 16px;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px #E7BC0E solid;
    font-family: 'roboto';
    font-weight: bolder;
    font-size: 1.2rem;
}

.cleo {
    display: flex;
    flex: 1;
    width: 7%;
    font-size: 4.2rem;
    font-family: 'inter';
    font-weight: bold;
    color: white;
    line-height: 1.1;
    margin: 10%;
}

.yellow {
    font-family: 'mr';
    color: #E7BC0E;
    margin-left: 10%;
    display: flex;
    font-size: 2rem;
}

.yellow a {
    text-decoration: none;
    font-style: italic;
    color: #E7BC0E;
    font-size: 1.5rem;
    font-family: 'inter';
    margin: 32px;
}

.cyan {
    font-family: 'santio';
    color: #6BC1A3;
    width: 34vw;
    margin-top: 20%;
    margin-left: 17%;
    line-height: 1.8;
    font-size: 2.2rem;
    font-weight: bold;
}

.cyan span {
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 0 4px;
    padding-top: 8px;
    
}

.stats img {
    width: 128px;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    '. millions .'
    '. paid .'
    '. insu .'
    '. workers .';
    font-family: 'santio';
    font-size: 3rem;
    font-weight: bold;
    row-gap: 25%;
    margin-top: 20%;
}

.millions {
    color: #E7BC0E;
    line-height: 1.2;
    grid-area: millions;
}

.stats span {
    color: white;
    background-color: rgba(0, 0, 0, 0.42);
    padding: 0 4px;
    padding-top: 8px;
}

.millions h5 {
    font-size: 8rem;
    line-height: normal;
}

.paid {
    color: #CB91B6;
    grid-area: paid;
}

h5 {
    font-size: 8rem;
    margin-top: 8px;
}

.insu {
    color: #6BC1A3;
    grid-area: insu;
}

.workers {
    color: #7EB8E1;
    font-size: 2rem;
    line-height: 1.5;
    grid-area: workers;
}

.kidsimg {
    background: url(../img/kid.png) center/cover ;
    height: 150dvh;
}

.canhelp {
    background-color: black;
    color: white;
    font-family: 'santio';
    font-size: 4rem;
    font-weight: bold;
    padding: 8%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canhelp p {
    width: 35%;
}

.canhelp a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'roboto';
    border: 1px solid white;
    padding: 8px 16px;
    margin-top: 30px;
    width: fit-content;
}

.canhelp a:hover {
    box-shadow: 10px 10px white;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    font-family: 'inter';
    font-size: 0.8rem;
    color: #6BC1A3;
    text-decoration: none;
}

@media only screen and (max-width: 941px){

    .cyan {
        width: 80%;
        margin: 50% auto;
    }
    .big {
        height: 700vh;
    }

    .stats {
        line-height: 1.2;
    }
}